# Author: Matthew Heering
# Description: Entry point for our supervisors react table. 
# Date: 6/18/25
<div id="supervisors-react-table" data-supervisors="<%= @supervisors.to_json.gsub('"', '&quot;') %>"></div>