# Author: Matthew Heering
# Description: Entry point for our edit form for our edit form react component.
# Date: 6/18/25
<div id="new-employee-form"
     data-employee="<%= @employee.to_json.gsub('"', '&quot;') %>"
     data-supervisors="<%= @supervisors.to_json.gsub('"', '&quot;') %>">
</div>