# Author: Matthew Heering
# Description:  Entry point for employees table react component
# Date: 6/18/25
<div id="employees-react-table" data-employees="<%= @employees.to_json.gsub('"', '&quot;') %>"></div>