# Author: Matthew Heering
# Description: Entry point for our new employee form react view
# Date: 6/18/25
<div id="new-employee-form"
     data-supervisors="<%= @supervisors.to_json.gsub('"', '&quot;') %>">
</div>