<div id="dashboard-selector"
     data-roles='<%= {
       employee_id: current_employee.id,
       is_admin: current_employee.is_administrator?,
       is_supervisor: current_employee.is_supervisor?
     }.to_json %>'>
</div>

<%= vite_javascript_tag "entrypoints/application.jsx", type: "module" %>