<div id="dashboard-selector" data-roles="{&quot;is_admin&quot;:true,&quot;is_supervisor&quot;:true,&quot;employee_id&quot;:1}"></div>

<%= vite_javascript_tag "entrypoints/application.jsx", type: "module" %>