<div id="time-off-request-form"
     data-request='<%= @request.to_json.html_safe %>'
     data-fiscal-years='<%= @fiscal_years.to_json.html_safe %>'
     data-employee-id="<%= @employee.id %>">
</div>