<div id="admin-dashboard"
     data-employees="<%= j @employees.to_json %>"
     data-fiscal-years="<%= j @fiscal_years.to_json %>"
     data-fiscal-year-employees="<%= j @fiscal_year_employees.to_json %>">
</div>