<div id="admin-dashboard"
     data-employees='<%= @employees.to_json.html_safe %>'
     data-fiscal-years='<%= @fiscal_years.to_json.html_safe %>'
     data-fiscal-year-employees='<%= @fiscal_year_employees.to_json.html_safe %>'>
</div>