<div id="admin-dashboard"
     data-employees='<%= raw(@employees.to_json) %>'
     data-fiscal-years='<%= raw(@fiscal_years.to_json) %>'
     data-fiscal-year-employees='<%= raw(@fiscal_year_employees.to_json) %>'>
</div>